RewriteEngine on

# Always Display portfolio
RewriteCond %{HTTP_HOST} !^portfolio.nova840.com$ [NC]
RewriteRule ^(.*)$ https://portfolio.nova840.com/$1 [L,R=302]

# Remove .html
RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]

# Force HTTPS
RewriteCond %{HTTPS} !on
RewriteRule ^(.*)$ https://portfolio.nova840.com/$1 [L,R=302]

# Custom 404 Page
ErrorDocument 404 /404.html