* {
	font-family: tahoma;
}

body {
	background-color: rgb(29, 29, 29);
}



.header {
	position: fixed;
	display: flex;
	height: 7.1em;
	width: 100%;
	left: 0;
	top: 0;
	background-color: black;
}

.header_left {
	width: 50%;
}

.header_right {
	display: flex;
	width: 50%;
	justify-content: flex-end;
	margin: auto;
}

.header_right h3 a {
	color: white;
	margin-right: 2em;
}

.header_space {
	height: 7.6em;
}

.title {
	font-size: 3em;
	color: white;
	margin: 0;
	margin-top: .25em;
	margin-left: .5em;
}

.title a {
	text-decoration: none;
	color: white;
}

.email {
	font-size: .9em;
	margin: 0;
	margin-top: .25em;
	margin-left: 2em;
}

.email a {
	color: white;
}



.solid_hr {
	border: 1px solid white;
	margin-top: 3em;
}

.dashed_hr {
	border: 0.5px dashed white;
	margin-top: 3em;
}



.projects_table {
	margin: auto;
}

.projects_table td {
	padding: 1em;
}

.projects_table td img {
	width: 25em;
}

.projects_table td h2 {
	text-align: center;
}

.projects_table h2 a:link,
.projects_table h2 a:visited {
	color: #7595ff;
}

.projects_table h2 a:hover {
	color: #3051c5;
}

.projects_table h2 a:active {
	color: #d64b20;
}



.content {
	width: 50em;
	margin: auto;
	text-align: center;
}

.content h1,
.content p {
	color: rgb(255, 255, 255);
}



.left_link {
	padding-right: 5em;
}

.right_link {
	padding-left: 5em;
}

.links_table {
	margin: auto;
}

.links_table a:link,
.links_table a:visited {
	color: #7595ff;
}

.links_table a:hover {
	color: #3051c5;
}

.links_table a:active {
	color: #d64b20;
}



.project_thumbnail {
	height: 25em;
}

.project_media {
	height: 25em;
	margin-bottom: 2em;
}