.postTitle{
	line-height:0;
}

.postDate{
	line-height:0;
	padding-bottom: 1em;
}

article pre{
	display:inline-block;
	padding:1em 1em 0em 1em;
	border:1px dashed;
	tab-size:4;
	-moz-tab-size: 4; /* Code for Firefox */
	-o-tab-size: 4; /* Code for Opera 10.6-12.1 */
}

article p{
	line-height: 1.5em;
}