.postBackground{
	background-color:#888888;
	display: block;
	margin:auto;
	padding:1em;
	width:50em;
	margin-top: 1em;
}

.postTitle{
	line-height:0;
}

.postDate{
	line-height:0;
	padding-bottom: 1em;
}

pre{
	display:inline-block;
	padding:1em 1em 0em 1em;
	background-color:#B0B0B0;
}