html{
	height:100%;
}

body{
	background:linear-gradient(to top right, rgb(20,20,20), rgb(70,70,70));
	background-attachment: fixed;/*This has to be below the gradient*/
	color:rgb(200,200,200);
	font-family: Verdana;
}

a{
	color:rgb(200,200,200);
	-webkit-transition:text-shadow .3s;
}

a:hover{
	text-shadow: 0 0 1em rgb(200,200,200);
}

header{
	height:4em;
}

.headerNav{
	height:100%;
	right:100%;
	margin-right:.5em;
	padding-left:.5em;
	padding-right:.5em;
	float:right;
}

.headerBar{
	display:inline-block;
	border-left:1px solid rgb(100,100,100);
	margin-right: .5em;
	height:100%;
	float:right;
}

#home{
	margin-left:.5em; /*Same as margin-right in .headerSection*/
	float:left;
}

.headerText{
	margin: 0;
	font-size: 1.25em;
	margin-top:1em;
}

#bodyText{
	margin-bottom: 4em;
}

#contactHolder{
	text-align: center
}

.contactImg{
	width:4em;
	height:4em;
	margin:1em;
}

.column{
	margin:auto;
	margin-bottom: 2em;
	background-color: rgba(20,20,20,.75);
	width:50em;
	padding:1em;
	border-radius: .25em;
}