body{
	background-color:#555555;
}

a:link{
	color:#CCCCCC;
}

a:visited{
	color:#CCCCCC;
}

a:hover{
	color:#DDDDDD;
}

a:active{
	color:#FFFFFF;
}

header{
	background-color:#000000;
	position: fixed;
	height:2.5em;
	width:100%;
	left:0;
	top:0;
}

#headerSpace{
	height:2.5em;/*Same as header*/
}

.headerSection{
	background-color: #303030;
	height:100%;
	right:100%;
	margin-right:.5em;
	padding-left:.5em;
	padding-right:.5em;
	float:right;
}

a .headerSection:hover{
	background-color: #404040;
}

#home{
	margin-left:.5em; /*Same as margin-right in .headerSection*/
	float:left;
}

.headerText{
	margin: 0;
	font-size: 1.25em;
	margin-top:.4em;
	color:#CCCCCC;
}

footer{
	background-color:#000000;
	position: fixed;
	height:2em;
	padding:.5em;
	right:0;
	bottom:0;
	border-radius:.5em;
}

.footerImg{
	height:2em;
	width:2em;
	margin-left:.25em;
	margin-right:.25em;
}

#bodyText{
	margin-bottom: 4em;
}