.gameSpace{
	height:675px;
}

li{
	line-height:1.5em;
}

.announcementTitle{
	margin-bottom:-0.5em;
	font-size:2em;
	font-weight:bold;
}

.announcementDate{
	margin-bottom:2em;
	font-size:1em;
	font-weight:bold;
}

p{
	font-size:1.1em;
}